
body {
    font-family:'Times New Roman', Times, serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } 
  h2 {
    text-align: center;
    margin-bottom: 10px;

  }
  .container {
    width: 300px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 25px 25px 10px rgba(156, 25, 25, 0.832);
  }


  .container input[type="email"] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 72, 255);
    box-sizing: border-box;
  }

  .container input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 72, 255);
    box-sizing: border-box;
  }

  .container input[type="tel"] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 72, 255);
    box-sizing: border-box;
  }

  #gender{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 72, 255);
    
    box-sizing: border-box;
  }
    
 
 .male{
  color:#00e1ff;
  }
 .female{
    color:#ff00d9;
  }
 .transgender{
      color:#4203ff;
  }


  .container input[type="password"] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(255, 0, 195);
    box-sizing: border-box;
  }


  .container button {
    background-color: #da2d2d;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.832);
    margin: 5px 0px;
    border: none;
    cursor:pointer;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    
  }
  

  .container button:hover {
    background-color: #63adb4;
  }
  .container button:active{
    background-color:green;
  }

  .container .login {
    text-align: center;
    margin-top: 24px;
  }
#message{
    text-align: center;
    padding-top: 0.5cm;
}